#date{
  width: 200px;
  border-radius: 25px;
  height: 70px;
  padding: 20px;
  margin: auto;
}
#imageRectangle{
  width: 500px;
  border: 10px solid white;
  border-radius: 25px;
  height: 600px;
  padding: 20px;
  margin: auto;

}
body{
  background-image: linear-gradient(to bottom right, rgb(255, 143, 143), rgb(255, 233, 138));
}
